body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  margin: 2em;
  min-height: 100%;
}

div {
  border: groove;
  padding: 0.5em;
}

.nav li {
  display: inline;
  padding: 1em;
}

.logo a {
  text-decoration: none;
}

.logo img {
  width: 113px;
  height: 27px;
}

.logo p {
  margin-top: 0em;
  margin-bottom: 0em;
  font-size: 0.75em;
  font-style: italic;
}

.bioimage {
  width: 200px;
  height: 200px;
}